.login-form {
  width: 100vw;
  //height: 43.5rem
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 6rem -1rem,
    rgba(0, 0, 0, 0.1) 0 0 0.5rem 0.1rem;
  border-top: 0.2rem solid $border-red;
  margin-bottom: 5rem;

  @media only screen and (min-width: 500px) {
    width: 55rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(43.5rem / 2);
    padding: 0 2.5rem;

    @media only screen and (min-width: 600px) {
      padding: 0 4.8rem;
    }

    &:nth-child(2) {
      justify-content: flex-start;
      padding-top: 11px;
      height: calc(43.5rem / 2 + 1rem);
    }

    &:nth-child(3) {
      justify-content: space-around;
      height: auto;
    }
  }

  &__register {
    padding: 0 4.8rem;
    margin-bottom: 3rem;
    display: flex;
  }

  &__title {
    font-size: 2.25rem;
    text-align: center;
    font-weight: 800;
    color: $black;
    letter-spacing: 0.05rem;
    margin-bottom: 5.25rem;
    margin-top: 2rem;
  }

  &__logo {
    width: $logo-dimension;
    height: $logo-dimension;
    border-radius: 0.3rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  &__field {
    width: 100%;
    position: relative;
    margin: 2rem 0;
    height: 3rem;

    &--username {
      margin-top: 0;
    }

    &--password {
      margin-top: 1.5rem;
      margin-bottom: 1.4rem;
    }

    &--submit-buttons {
      margin-top: 4rem;
      margin-bottom: 4.5rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      @media only screen and (min-width: 258px) {
        justify-content: space-between;
      }
    }

    &--no-register {
      justify-content: flex-end;
    }
  }

  &__label {
    font-size: 1.5rem;
    font-weight: 600;
    color: $label-red;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition-duration: 0.2s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &--hidden {
      opacity: 0;
    }
  }

  &__input {
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: 0 0.1rem 0 0 $font-red;
    outline: none;
    font-size: 1.5rem;
    font-weight: 600;
    transition-duration: 0.2s;
    color: $black;
    caret-color: $font-red;

    &:focus {
      box-shadow: 0 0.2rem 0 0 $font-red;
    }

    &:valid {
      box-shadow: 0 0.1rem 0 0 $black;
    }

    &:valid:focus {
      box-shadow: 0 0.2rem 0 0 $black;
    }
  }

  &__input:focus ~ &__label,
  &__input:valid ~ &__label {
    transform: translateY(-2.5rem);
    font-size: 1rem;
  }

  &__label--valid {
    color: $black;
  }

  &__error-message {
    color: $font-red;
    margin-top: 0.5rem;
    font-size: 1rem;
    transition-duration: 0.2s;

    &.hidden {
      opacity: 0;
    }
  }

  &__button {
    font-weight: 800;
    background: white;
    padding: 1.65rem 5rem;
    font-size: 1.4rem;
    border-radius: 0.4rem;
    height: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-duration: 0.2s;

    &:hover {
      cursor: pointer;
    }

    &--login {
      border: 0.2rem solid rgba(200, 16, 47, 0.5);
      color: $font-red;
      box-sizing: border-box;

      &:hover {
        border: 0.2rem solid rgba(200, 16, 47, 0.8);
        box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.075);
      }
    }

    &--valid {
      color: $green;
      border: 0.2rem solid $green-transparent;

      &:hover {
        border: 0.2rem solid $green;
      }
    }

    &--register {
      color: $font-red;
      box-sizing: border-box;
      font-weight: 600;
      border: none;
      text-decoration: none;

      &:hover {
        color: $black;
        text-decoration: underline;
      }
    }
  }

  &__svg {
    width: 2rem;
    position: absolute;
    font-size: 1.6rem;
    font-weight: 600;
    color: #e71538;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  &__centered-text {
    font-size: 1.5rem;
    color: rgb(139, 139, 139);
    align-self: center;
    margin-bottom: 2rem;
  }

  &__register-redirect {
    display: flex;
    height: 5rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 2.5rem;

    @media only screen and (min-width: 600px) {
      padding: 0 4.8rem;
    }
  }

  &__alternative-methods {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
  }

  &__extended-login-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    &:first-child {
      justify-content: flex-start;
    }

    &:last-child {
      justify-content: flex-end;
    }
  }

  &__extended-login-logo img {
    width: 95%;

    &:hover {
      cursor: pointer;
      filter: brightness(105%);
    }
  }

  &__go-back {
    margin: 0 auto;
    width: 100%;
  }

  &__usericon,
  &__lockicon {
    height: 1.5rem;
    margin-right: 0.5rem;
    fill: $label-red;
  }

  &__input:focus ~ &__label &__usericon,
  &__input:focus ~ &__label &__lockicon,
  &__label--valid &__usericon,
  &__label--valid &__lockicon {
    height: 1rem;
  }

  .login-form__label--valid #usericon,
  .login-form__label--valid #lockicon {
    fill: $green;
  }
}
