$font-red: rgb(200, 16, 46);
$label-red: rgba(231, 21, 56, 0.8);
$border-red: rgb(188, 15, 43);
$black: rgb(39, 39, 39);
$green-transparent: rgba(75, 181, 67, 0.7);
$green: rgb(75, 181, 67);

$logo-dimension: 3.8rem;
